*{
	padding:0;
	margin:0;
}
ul,li,ol{
	list-style:none;
}
a{
	text-decoration:none;
}
.clear:after{
	display:block;
	height:0;
	content:'';
	clear:both;
}
.header{
	margin:0 auto;
	height:173px;
	background-color:#eeeeef;
}
.logo{
	text-align:center;
	height: 125px;
}
.logo img{
	margin-top:30px;
}
.nav{
	width:670px;
	height:45px;
	background-color:#fff;
	margin:0 auto;
	border-radius:23px;
	list-style:none;
}
.nav li{
	float:left;
	height:45px;
	padding:0 30px;
	line-height:45px;
	background:url(../images/line.png) no-repeat right center;
	font-size:14px;
	font-family:'微软雅黑';
}
.nav li a{
	display:block;
	height:42px;
	color:#000;
}
.nav li a:hover{
	color:#33f;
	border-bottom:3px solid #1e50ae;
}
.nav li:last-child{
	background:none;
}
.banner{
	width:100%;
	height:405px;
	background:url(../images/banner.png) no-repeat center;
	text-align:center;
}
.serve{
	width:100%;
	height:810px;
	padding-left:60px;
	padding-top:60px;
	text-align:center;
	margin:0 auto;
}
.a{
	float:left;
	height:370px;
	width:310px;
	line-height:30px;
}
.b{
	float:left;
	height:250px;
	width:310px;
}
.serve li{
	background:url(../images/biaoji.png) no-repeat left center;
}
.c{
	padding-left:100px;
	text-indent:1em;
	text-align:left;
	color:#919191;
}
.m{
	text-align:center;
	font:34px '微软雅黑';
	color:#000;
}
.n{
	text-align:center;
	font:31px 'Times New Roman';
	color:#000;
	padding-top:20px;
	padding-bottom:50px;
}
.solution{
	height:712px;
	background:url(../images/solution1.png) no-repeat center;
	margin:0 auto;
}
.d{
	text-align:center;
	font:34px '微软雅黑';
	color:#fff;
	padding-top:60px;
}
.e{
	text-align:center;
	font:31px 'Times New Roman';
	color:#fff;
	padding-top:10px;
}
.solution:after{
	display:block;
	height:0;
	content:'';
	clear:both;
}
.solution ul li{
	float: left;
	margin-top: 70px;
	margin-bottom: 80px;
	margin-left: 40px;
	margin-right: 10px;
}
.center-a{
	float: left;
	margin: 0 auto;
	margin-left:60px;
	margin-top: 210px;
}
.center-b{
	float: right;
	margin: 0 auto;
	margin-right:60px;
	margin-top: 210px;
}
.solution button{
	width:230px;
	height:50px;
	text-align:center;
	line-height:50px;
	color:#fff;
	background:transparent;
	border-radius:23px;
}
.infor{
	margin:0 auto;
	width:100%;
	height:910px;
	padding:60px;
}
.h{
	float:left;
	border:100px;
}
.x{
	padding-top:50px;
	float:left;
	width:550px;
	height:360px;
	line-height:30px;
}
.y{
	font:14px;
	float:left;
	width:600px;
	height:300px;
}
.p{
	font:22px '微软雅黑';
	color:#000;
	padding-bottom:10px;
}
.q{
	font:18px '微软雅黑';
	color:#000;
	padding-bottom:10px;
}
.o{
	font:14px;
	color:#969696;
}
.i{
	width:230px;
	height:50px;
	text-align:center;
	line-height:50px;
	color:blue;
	background:transparent;
	border-radius:23px;
	border-color:blue;
}
.x div{
	padding-top:20px;
}
.y li{
	padding:15px 0;
	border-bottom:1px dashed #dcdcdc;
}
.y li:last-child{
	border:none;
}
.last-a{
	margin:0 auto;
	padding:0 80px;
	background-color:#f5f5f5;
	width:100%;
	height:100px;
}
.last-a ul li{
	float:left;
	width:300px;
	padding-top:20px;
	margin:0 auto;
}
.last-c{
	float:left;
	padding-right:20px;
}
.last-d{
	float:left;
}
.last-e{
	font-size:19px;
}
.last-f{
	font-size:13px;
	padding-top:5px;
}
.last-b{
	height:380px;
	width:100%;
	background:url(../images/daohang.png) no-repeat center;
}
.last-h{
	width:100%;
	height:260px;
	padding-left:130px;
	border-bottom:3px solid #777;
}
.last-i{
	float:left;
	padding:75px 50px;
}
.last-i p{
	line-height:35px;
	color:#fff;
}
.last-i p:first-child{
	font-size:18px;
}
.last-j{
	padding:75px 55px;
}
.last-j div{
	float:left;
}
.last-j div p{
	width:60px;
	padding-left:35px;
	line-height:25px;
	color:#fff;
	background:url(../images/line-2.png) no-repeat right center;
}
.last-k{
	float:left;
	padding-left:50px;
	padding-bottom:50px;
	line-height:30px;
}
.last-k p{
	font-size:16px;
	color:#fff;
}
.last-l{
	width:100%;
	height:75px;
}
.last-l ul{
	padding-left:250px;
	width:760px;
	height:14px;
	list-style:none;
}
.last-l ul li{
	float:left;
	font-size:14px;
	border-right:1px solid #fff;
	padding:0 15px;
}
.last-l ul li a{
	display:block;
	height:14px;
	color:#fff;
}
.last-l ul li:last-child{
	border-right:none;
}
.last-m{
	padding:10px 500px;
}
